<section id="delete" class="content-full copy-ready">
                        <h1 class="title copy-ready-inner">Delete specific Pussy<em>(DELETE)</em></h1>
                        <div class="api-content copy-ready-inner">
                            <p><em>Delete</em> specific pussy, identified by id.</p>
                            <p>Returns <strong>BOOLEAN</strong> value indicating action status.</p>
                        </div>
                        <div class="api-code-box copy-ready cf">
                            <div class="btn-wrapper">
                                <button type="button" ng-click="deletePussy()">Delete THAT stinky!</button>
                            </div>
                            <div class="request-box request-box-no-overflow left" ng-init="getStinkyPussy()">
                                <p>
                                    <strong>Stinky: </strong>
                                    <span><% stinkyPussy.model.pussy %></span>
                                </p>
                            </div>
                            <div class="response-save-box copy-ready right">
                                <p><% stinkyPussy.response %></p>
                            </div>
                        </div>
                    </section>