<section id="get" class="content-full copy-ready">
                        <h1 class="title copy-ready-inner">Specific Pussy<em>(GET)</em></h1>
                        <div class="api-content copy-ready-inner">
                            <p>Calling specific <strong>GET, with parameter</strong> request.</p>
                            <p>Returns matching object from pussies DB.</p>
                        </div>
                        <div class="api-code-box copy-ready cf">
                            <div class="btn-wrapper">
                                <button type="button" ng-click="getPussy(pussyGet.query)">Get THAT pussy!</button>
                            </div>
                            <div class="request-box request-box-no-overflow left">
                                <div class="input-controll cf">
                                    <label for="pussy-query" class="left">Enter pussy name: </label>
                                    <input id="pussy-query" class="right" type="text" ng-model="pussyGet.query">
                                </div>
                                <div class="copy-ready-inner">
                                    <p class="alert-copy"><% pussyGet.info %></p>
                                </div>
                            </div>
                            <div class="response-box response-box-edit right" ng-show="pussyGet.pussy && !pussyGet.empty">
                                <p class="model-properties">Pussy: <span><strong><% pussyGet.pussy %></strong></span></p>
                                <p class="model-properties">How big pussy: <span><strong><% pussyGet.madeof %></strong></span></p>
                                <p class="model-properties">Active: <span><strong><% pussyGet.active %></strong></span></p>
                            </div>
                            <div class="response-box response-box-edit right" ng-show="pussyGet.empty">
                                <p><strong>No search result for query!</strong></p>
                            </div>
                        </div>
                    </section>