<section id="getall" class="content-full copy-ready">
    <h1 class="title copy-ready-inner">Basic call <em>(GET)</em></h1>
    <div class="api-content copy-ready-inner">
        <p>Calling basic <strong>GET</strong> request.</p>
        <p>Returns JSON response for only last pussy registred.</p>
        <p><small>* Only 12 last of rows will be displayed.</small></p>
    </div>
    <div class="api-code-box copy-ready">
        <div class="btn-wrapper">
            <button type="button" ng-click="getPussys()">GET those pussys!</button>
        </div>
        <div class="response-box-wrapper" ng-if="response">
            <div class="response-box" ng-repeat="pussy in pussys" ng-show="pussys">
                <p class="model-properties">Pussy: <span><strong><% pussy.pussy %></strong></span></p>
                <p class="model-properties">How torn is this pussy:</p>
                <span><strong><% pussy.sketch %></strong></span>
                <p class="model-properties">Active: <span><strong><% pussy.active %></strong></span></p>
            </div>
        </div>
        <div class="response-box" ng-if="!response">
            <p><strong>No pussy on board!</strong></p>
        </div>
        <p ng-show="pussys"><small>Scroll down</small></p>
    </div>
</section>