<section id="getsketch" class="content-full copy-ready">
    <h1 class="title copy-ready-inner">Get Pussy in real sizes<em>(GET)</em></h1>
    <div class="api-content copy-ready-inner">
        <p><strong>GET</strong> real size of your pussy!</p>
        <p>Returns matching image for pussy size.</p>
    </div>
    <div class="api-code-box copy-ready cf">
        <div class="btn-wrapper">
            <button type="button" ng-click="getPussySketch(pussyGetSketch.query)">Get THAT pussy!</button>
        </div>
        <div class="request-box request-box-no-overflow left">
            <div class="input-controll cf">
                <label for="pussy-query" class="left">Enter dream size: </label>
                <input id="pussy-query" class="right" type="number" min="0" ng-model="pussyGetSketch.query">
            </div>
            <div class="copy-ready-inner" ng-show="info">
                <p class="alert-copy">Please enter ANY value!</p>
            </div>
        </div>
        <div class="response-box right" ng-show="pussyGetSketch.pussy && !info">
            <p class="title-medium">Pussy tornes level: </p>
            <p><strong class="title-big"><% pussyGetSketch.pussy %></strong></p>
        </div>
        <div class="response-box response-box-edit right" ng-show="!status">
            <p><strong>Want to see some pussy?</strong></p>
        </div>
    </div>
</section>