<section id="put" class="content-full copy-ready">
                        <h1 class="title copy-ready-inner">Update specific Pussy<em>(PUT)</em></h1>
                        <div class="api-content copy-ready-inner">
                            <p>Calling specific <strong>GET, with parameter</strong> request and updating entity with <strong>PUT</strong> request.</p>
                            <p>Pussy is prepared via upper example of GET request. Pick one of many and you are ready to updating.</p>
                            <p>Returns <strong>BOOLEAN</strong> value indicating action status.</p>
                        </div>
                        <div class="api-code-box copy-ready cf">
                            <div class="btn-wrapper">
                                <button type="button" ng-click="updatePussy()">Update THAT pussy!</button>
                            </div>
                            <div class="request-box request-box-no-overflow left" ng-init="showPussy()">
                                <input type="hidden" ng-model="pussyLoad.id">
                                <div class="input-control cf">
                                    <label for="pussy-input1" class="left">Pussy</label>
                                    <input id="pussy-input1" class="right" type="text" name="pussy-input1" ng-model="pussyLoad.pussy">
                                </div>
                                <div class="input-control cf">
                                    <label for="size-input2" class="left">How big pussy</label>
                                    <input id="size-input2" class="right" type="number" min="0" name="size-input2" placeholder="Enter number" ng-model="pussyLoad.size">
                                </div>
                                <div class="input-control cf">
                                    <label for="active-input1" class="left">Active</label>
                                    <select id="active-input1" class="right" ng-model="pussyLoad.active">
                                        <option value="0">Ni aktivna</option>
                                        <option value="1">Aktivna</option>
                                    </select>
                                </div>
                            </div>
                            <div class="response-save-box copy-ready right">
                                <p><% pussyLoad.response %></p>
                            </div>
                        </div>
                    </section>