<section id="save" class="content-full copy-ready">
                        <h1 class="title copy-ready-inner">Basic saving <em>(POST)</em></h1>
                        <div class="api-content copy-ready-inner">
                            <p>Calling basic <strong>POST</strong> request.</p>
                            <p>Returns <strong>BOOLEAN</strong> value indicating action status.</p>
                        </div>
                        <div class="api-code-box copy-ready cf">
                            <div class="btn-wrapper">
                                <button type="button" ng-click="savePussy()">SAVE those pussies!</button>
                            </div>
                            <div class="request-box request-box-no-overflow left">
                                <div class="input-control cf">
                                    <label for="pussy-input1" class="left">Pussy</label>
                                    <input id="pussy-input1" class="right" type="text" name="pussy-input1" ng-model="pussySave.pussy">
                                </div>
                                <div class="input-control cf">
                                    <label for="size-input1" class="left">How big pussy</label>
                                    <input id="size-input1" class="right" type="number" min="0" max="25" name="size-input1" placeholder="Enter number" ng-model="pussySave.size">
                                </div>
                                <div class="input-control cf">
                                    <label for="active-input1" class="left">Active</label>
                                    <select id="active-input1" class="right" ng-model="pussySave.active">
                                        <option value="0">Ni aktivna</option>
                                        <option value="1" selected>Aktivna</option>
                                    </select>
                                </div>
                            </div>
                            <div class="response-save-box copy-ready right">
                                <p><% pussySave.reponse %></p>
                            </div>
                        </div>
                    </section>