/*! PussysApi (1.35) (C) www.pussysapi.tk .  WTFPL @license: https://en.wikipedia.org/wiki/WTFPL */

/* IMPORTS
**************************/

@import "variables.less";
@import "normalize.less";
@import "fonts.less";


/* MAIN - SETUP
**************************/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: @app-bg-main;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 100;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.app-wrapper {
  position: relative;
  width: @app-main-width;
}


/* APP HEADER
**************************/

.app-main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: @app-color;
  color: @app-header-font;
  z-index: 999;

  .header-main {
    @media screen and (max-width: 500px) {
      display: none;
      float: none;
      clear: both;
    }

    nav {
      @media screen and (max-width: 500px) {
        padding-top: 12px;
      }

      a {
        padding: 6px;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        font-size: 22px;
        color: @app-header-font;

        &:hover {
          border-bottom-color: @app-header-font;
        }

        @media screen and (max-width: 500px) {
          display: block;
          padding: 8px 0 4px;
          margin-bottom: 12px;
          border-bottom: 1px solid @app-bg-main;
          text-align: center;
        }
      }
    }
  }
}

.header-mobile--icon {
  display: none;

  @media screen and (max-width: 500px) {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }
}


/* APP MAIN AREA
**************************/

.app-main {
  margin-top: 88px;
  color: @app-font-color;

  .title {
    border-bottom: 1px solid @app-font-color;
  }

  .starter-wrapper {
    text-align: center;

    .starter {
      width: 50px;
      height: 50px;
      padding: 4px;
      margin-left: auto;
      margin-right: auto;
      background-color: @app-color;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;

      .fa-arrow-down {
        text-decoration: none;
        font-size: 48px;
        font-weight: bold;
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        border-color: @app-color;

        .fa-arrow-down {
          color: @app-color;
        }
      }
    }
  }

  // Main APP
  .pussyapi-app-wrapper {
    background-color: @app-color;

    .title {
      border-bottom: 1px solid #fff;
      color: @app-header-font;
    }

    .api-content {
      color: @app-header-font;
    }

    .api-code-box {
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 5px;

      button {
        width: 100px;
        height: 75px;
        margin-bottom: 24px;
        background-color: @app-color;
        border: 2px solid transparent;
        border-radius: 5px;
        font-weight: bold;
        color: @app-header-font;

        &:hover {
          background-color: @app-header-font;
          border-color: @app-color;
          color: @app-color;
        }

        &:active {
          box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
        }
      }

      .response-box-wrapper {
        height: 112px;
        overflow-y: scroll;
        cursor: all-scroll;

        .response-box {
          border-bottom: 1px solid;
          .transparent-border-color(34, 34, 34, .75);
        }
      }

      .response-box,
      .request-box {
        display: inline-block;
        padding-bottom: 6px;
        margin-left: 12px;
        margin-bottom: 6px;

        &:first-child {
          margin-left: 0;
        }

        p.model-properties {
          margin-top: 0;
          margin-bottom: 0;
          line-height: 1.35;
        }
      }

      .request-box-no-overflow {
        height: auto;
        overflow-y: visible;

        .input-control {
          margin-bottom: 6px;

          label {
            margin-right: 12px;
          }

          input {
            padding: 4px;
            border: 1px solid rgba(0, 0, 0, .3);

            &:hover {
              .transparent-border-color(@r, @g, @b, @alpha);
            }

            &:focus {
              box-shadow: inset 0 0 9px rgba(0, 0, 0, .35);
            }
          }

          select {
            .transparent-border-color(@r, @g, @b, @alpha);
          }
        }
      }

      .response-save-box {
        p {
          font-size: 28px;
          font-weight: bold;
        }
      }

      .response-box-edit {
        border: 1px solid transparent;
        transition: border .4s ease;

        &:hover {
          .transparent-border-color(34, 34, 34, .65);
        }
      }
    }
  }
}


/* APP FOOTER
**************************/

.app-main-footer {
  background-color: @app-color;
  border-top: 7px double @app-bg-main;
  color: @app-header-font;

  .strike {
    text-decoration: line-through;
  }
}


/* LAYOUT HELPERS
**************************/

.content-full {
  width: @app-content-width;
  margin-left: auto;
  margin-right: auto;
}

.copy-ready {
  padding: 32px 64px;
}

.copy-ready-inner {
  padding-top: 24px;
}

@media screen and (max-width: 980px) {
  .content-full {
    width: @app-tablet-width;
  }

  .copy-ready {
    padding: 24px 48px;
  }
}

@media screen and (max-width: 768px) {
  .content-full {
    width: @app-mobile-width;
  }

  .copy-ready {
    padding: 20px 36px;
  }
}

@media screen and (max-width: 560px) {
  .content-full {
    width: 90%;
  }

  .copy-ready {
    padding: 16px 8px;
  }
}

/* TOOLS
**************************/

.left {
  float: left;
}

.right {
  float: right;
}

.alert-copy {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.title-big {
  font-size: 32px;
}

.title-medium {
  font-size: 22px;
}

.active {
  display: block !important;
}

.disabled {
  display: none;
}