// Colors
@app-bg-main:  #fff;
@app-color: #7F1D29;
@app-font-color: #2f2f2f;
@app-header-font: #fff;

// Layout
@app-main-width: 100%;
@app-content-width: 960px;
@app-tablet-width: 680px;
@app-mobile-width: 480px;

// From elements
@r: 0;
@g: 0;
@b: 0;
@alpha: 0.75;

.transparent-border-color(@r, @g, @b, @alpha) {
  border-color: rgba(@r, @g, @b, @alpha);
}